html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: rgb(0, 0, 9) !important ;
    color: #fff !important;
}

/*------------------loading css------------------*/
#loader{
    height: 1500px;
    width: 100%;
    background-color:  rgb(17,17,17);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*------------------navbar styling starts here-----------  */
nav {
    width: 100%;
    background: black;
    height: 80px;
    position: fixed;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

nav #brand a:hover {
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
    margin-top: 0;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li span {
    font-weight: 700;
}

nav #menu li a {
    color: #fff;
    text-decoration: none;
}

nav #menu li a:hover {
    text-decoration: underline;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}


/*------------------nabvar styling ends here------------*/

/*------------------hero section starts here-------------*/

.hero-wrapper {
    background-image: url('img/home.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    background-color : rgb(0, 0, 9);
    
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;

}
.hero-text h3{
    font-size: 3.5vh;
}
#hero-links{

    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
      
      #hero-links:hover, #hero-links:active {
        background-color: red;
      }



/*-----------------hero section ends here----------------*/

/*------------------about me section starts here----------*/
.about-section{
    background: url(./img/pic.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container-right{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
    color: black;
}

.section-heading{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

/*-------------------------------about me section ends here-------------*/


/*-------------------------------education section-----------------------*/

.education-section{
    background: url(./img/education.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 50px 0;
}

#work{
    font-size: 2.5em;
}
#git-button {
    height: 100px;
    width: 40px;
    background-color: black;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 15px;
}

/*-------------------------------education section ends here-------------*/



/*-------------------------------skills section starts here-------------*/

.skills-section {
    background: url(./img/pic2.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.skills-web {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 80px;
    color: black;
    
}
.skills-bar {
    width: 90%;
    background-color: rgba(19, 18, 18, 0.19);
    margin-bottom: 20px;
    height: 1.5vh;
    border-radius: 15px;
}
.skills-logo {
    width: 1.2vh;
    height: 1.2vh;
    
}

.skills-html{height:1.5vh;width: 95%;background-color: rgb(70, 70, 219);border-radius: 15px;}
.skills-css{height:1.5vh;width: 91%;background-color: rgb(23, 138, 48);border-radius: 15px;}
.skills-js{height:1.5vh;width: 84%;background-color: rgb(219, 70, 83);border-radius: 15px;}
.skills-rn{height:1.5vh;width: 94%;background-color: rgb(218, 235, 64);border-radius: 15px;}
.skills-py{height:1.5vh;width: 80%;background-color: rgb(219, 142, 70);border-radius: 15px;}
.skills-java{height:1.5vh;width: 95%;background-color: rgb(172, 70, 219);border-radius: 15px;}
.skills-cs{height:1.5vh;width: 98%;background-color: rgb(70, 219, 207);border-radius: 15px;}
.skills-sql{height:1.5vh;width: 76%;background-color: rgb(70, 219, 95);border-radius: 15px;}
.skills-fb{height:1.5vh;width: 85%;background-color: rgb(219, 172, 70);border-radius: 15px;}
.skills-po{height:1.5vh;width: 99%;background-color: rgb(219, 70, 70);border-radius: 15px;}


/*----------------------------education section----------------*/

/*----------------------------contact me-----------------------*/

.contact-section{
    background: black;
    padding: 80px 0;
    text-align: center;
}

.inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.contact-section h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
.contact-section button{
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    margin-top: 30px;
}

.contact-section button:hover{
    background: #70a1ff;
    color: #fff;
}

/*-------------------------------------pokemon api sections------------------------*/
   
.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
    text-align: center;
    
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}


/*-----------------------------------pokemon api ends here-------------------------*/




/*------------------------------video section starts here--------------------------*/

.video-section {
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.vid-container{
    background-color: #fdfdfd;
    width: 60%;
    color: black;
    height: 80vh;
    margin-right: 20%;
    margin-left: 20%;
}
.responsive-iframe {
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40vh;
    border: none;
  }
.video-section h6 {
    text-align: center;
}

/*------------------------------video section ends here--------------------------*/


/*-----------------------------------responsive aspects----------------------------*/


@media(max-width: 768px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
          margin-right: 4px;
    }

    nav #brand {
          margin-left: 24px;
    }

    #menu a {
          font-size: 20px;
          font-weight: 300;
    }

    #resize li span {
          font-weight: bolder;
    }

    nav #menu {
          display: none;
    }
    
}

@media(min-width: 769px) {
    #resize {
          visibility: hidden !important;
    }
    .hero-text h3 {
        font-size: 2.5vh;
    }
    
}

@media screen and (max-width:1200px){
    .skills-web{
        padding: 80px;
    }
    .inner-container-right{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .skills-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .skills-web{
        width: 100%;
    }
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container-right{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .skills-section{
        padding: 0;
    }
    .skills-web{
        padding: 60px;
    }
    .about-section{
        padding: 0;
    }
    .inner-container-right{
        padding: 60px;
    }
}




